 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
html,body{
  height:100%;
  width:100%;
  font-family: 'Roboto',sans-serif;
  background-image: linear-gradient(rgba(46, 43, 38, 0.7),rgba(11, 12, 12, 0.705)),url(calcia.jpg);
  background-size: cover;

}
.button{
  padding: 20px;
  width: 66px;
  margin: 0 3px;
  border-radius: 9px;
  border: 2px solid white;
  cursor: pointer;
  color: aliceblue;
  font-size: larger;
  background-image:linear-gradient(to left,rgb(84, 110, 100),rgb(138, 136, 147));
}
.row{
  margin: 8px 0;
}
.row input{
  margin:0px;
  font-size: 19px;
  padding: 10 0px;
  border:2px solid black;
  border-radius: 5px;
  height: 40px;
  width: 291px;
  color:aliceblue;
  outline: 0;
  border-color: aliceblue;
  background-image:linear-gradient(to left,rgb(84, 110, 100),rgb(138, 136, 147));
}